<nav class="menu">
  <ul class="list list--inline list--unstyle gutter gutter--large" data-component="fadereveal">
    <li class="list__item" data-ref="fadereveal[el]">
      <a href="/docs">Docs</a>
    </li>

    <li class="list__item" data-ref="fadereveal[el]">
      <a href="https://github.com/jedrzejchalubek/glidejs" target="_blank">Github</a>
    </li>

    <li class="list__item hidden hidden@medium" data-ref="fadereveal[el]">
      <a href="/docs/contributing">Contributing</a>
    </li>
  </ul>
</nav>
