<div id="{{ id }}" class="slider glide">
  <div class="slider__track glide__track" data-glide-el="track">
    <ul class="slider__slides glide__slides">
      {% for number in range(0,10) %}
        <li class="slider__frame glide__slide">{{ number }}</li>
      {% endfor %}
    </ul>
  </div>

  <div data-glide-el="controls">
    <button class="slider__arrow slider__arrow--prev glide__arrow glide__arrow--prev" data-glide-dir="<">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path d="M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z"/>
      </svg>
    </button>

    <button class="slider__arrow slider__arrow--next glide__arrow glide__arrow--next" data-glide-dir=">">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/>
      </svg>
    </button>
  </div>

  <div class="slider__bullets glide__bullets" data-glide-el="controls[nav]">
    {% for number in range(0,10) %}
      <button class="slider__bullet glide__bullet" data-glide-dir="={{ number }}"></button>
    {% endfor %}
  </div>
</div>
